@import "/node_modules/@fontsource/roboto/300.css";
@import "/node_modules/@fontsource/roboto/400.css";
@import "/node_modules/@fontsource/roboto/500.css";
@import "/node_modules/@fontsource/roboto/700.css";

:root {
  --filer_font: 'Roboto', sans-serif;
  --lighter_font: 300;
  --light_font: 400;
  --bold_font: 500;
  --bolder_font: 700;
  --normal_font_size: 15px;
  --medium_font_size: 20px;
  --big_font_size: 25px;
  --ultra_font_size: 30px;
  --background_color_light: white;
  --background_color_dark: rgb(32 33 36);
  /* --primary_color: #a20026; */
}

* {
  font-family: var(--filer_font);
  font-weight: var(--light_font);
  font-size: var(--normal_font_size);
}

body,html{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.W100{
  width: 100%;
}

.FlexBox{
  display: flex;
}

.V_Center{
  align-items: center;
}

.H_Center{
  justify-content: center;
}

.MuiTextField-root{
  width: 100%;
  margin: 5px 0px 20px 0px !important;
}

.MuiCard-root{
  border-radius: 10px !important;
  min-width: 300px !important;
  box-shadow:  0px 2px 10px 5px rgb(0 0 0 / 21%), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
}

.MuiButton-root{
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.MuiCardContent-root {
  padding: 15px 20px 15px 20px !important;
}