@import "/node_modules/@fontsource/roboto/300.css";
@import "/node_modules/@fontsource/roboto/400.css";
@import "/node_modules/@fontsource/roboto/500.css";
@import "/node_modules/@fontsource/roboto/700.css";

:root {
  --filer_font: 'Roboto', sans-serif;
  --lighter_font: 300;
  --light_font: 400;
  --bold_font: 500;
  --bolder_font: 700;
  --normal_font_size: 15px;
  --medium_font_size: 20px;
  --big_font_size: 25px;
  --huge_font_size: 30px;
  --ultra_font_size: 150px;
  --background_color_light: white;
  --background_color_dark: rgb(32 33 36);
  --letter_spacing_normal: 0px;
  --letter_spacing_medium: 1px;
  --letter_spacing_large: 2px;
  --error-color: #ff0004;
  /* --primary_color: #a20026; */
}

* {
  font-family: var(--filer_font);
  font-weight: var(--light_font);
  font-size: var(--normal_font_size);
  letter-spacing: var(--letter_spacing_medium) !important;
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.ultraHugeText {
  font-size: var(--ultra_font_size) !important;
}

.bolderText{
  font-weight: var(--bolder_font) !important;
}

.m0 {
  margin: 0
}

.mb15{
  margin-bottom: 15px !important;
}

.mt5{
  margin-top: 5px !important;
}

.mb10{
  margin-bottom: 10px !important;
}

.ml10{
  margin-left: 10px !important;
}

.mr10{
  margin-right: 10px !important;
}

.p0 {
  padding: 0;
}
.btnWithStyle.p15{
  padding: 15px !important;
}

.medPara {
  width: 350px;
  white-space: normal;
}

.W100 {
  width: 100%;
}

.FlexBox {
  display: flex;
}

.V_Center {
  display: flex;
  align-items: center;
}

.H_Center {
  display: flex;
  justify-content: center;
}

.MuiTextField-root {
  width: 100%;
  margin: 5px 0px 5px 0px;
}

.MuiCard-root {
  border-radius: 10px !important;
  min-width: 300px !important;
  box-shadow: 0px 2px 10px 5px rgb(0 0 0 / 21%), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}

.MuiCardHeader-root {
  .MuiCardHeader-title {
    color: #ffffff !important;
  }
}

.MuiButton-root {
  padding: 10px !important;
  margin-bottom: 10px !important;
  margin-right: 0px !important;
}

.MuiButtonGroup-root {
  .MuiButton-root {
    padding: 10px !important;
    margin-bottom: 0px !important;
  }
}

.MuiCardContent-root {
  padding: 15px 20px 10px 20px !important;
}

.MuiCardActions-root{
  justify-content: center;
  padding: 10px 20px !important;
}

.MuiToolbar-root{
  justify-content: space-around;
}

.MuiContainer-root, .MuiPaper-root {
  background-image: none !important;
}

.MuiInputBase-inputSizeSmall{
  padding: 12px 12px !important;
}

.Mui-error{
  .MuiOutlinedInput-notchedOutline{
    border-width: 2px !important;
  }
}
